@import url('https://fonts.googleapis.com/css?family=Roboto:500');
body {
  color: #0277BD;
  background-color: #E1BEE7;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#page {
  width: 720px;
  margin: 0px auto;
}

header {
  margin: 40px 0px 20px 0px;
  font-size: 160%;
}

form {
  width: 100%;
  margin: 0 auto;
  height: 198px;
}

#form-group {
  display: block;
  width: 70%;
  height: 80%;
  background-color: #FCE4EC;
  margin: 0 auto;
  padding: 1.5em 0;
  text-align: center;
}

label {
  font-size: 130%;
  color: #880E4F;
}

#calendar {
  background-color: #E1F5FE;
  font-family: 'Roboto', sans-serif;
  color: #880E4F;
  margin-bottom: 1em;
}

#calendar:focus {
  border-color: #880E4F;
}

button {
  font-family: 'Roboto', sans-serif;
  border-radius: 10%;
  background-color: #FCE4EC;
  color: #880E4F;
}

button:hover {
  background-color: #F48FB1;
}

p {
  color: #efefef;
  font-size: 120%;
}

#result {
  color: #880E4F;
  font-size: 180%;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border-bottom: solid 2px #969696;
}

figure {
  text-align: center;
}
